body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#notebook-container,
#questions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}
